* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 5vh;
  background-color: transparent;
  border-bottom: 2px solid darkblue;
  margin-bottom: 10px;
}

header h1 {
  color: black;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  font-family: fantasy;
  margin-top: 20px;
}

body {
  background-color: lightcyan;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  border: 2px solid black;
  border-radius: 1%;
  background-color: snow;
  padding: 20px;
  list-style: none;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  height: 600px;
  z-index: 999;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"] {
  width: 50%;
  color: black;
  background-color: transparent;
}

label {
  padding: 20px;
}

li {
  list-style: none;
  display: list-item;
  padding: 20px;
}

.pressthis {
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  outline: none;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 50%;
  margin-top: 20px;
}

button {
  border: none;

  margin-top: 30px;
}

.pressthis:hover {
  transform: scale(0.8);
}

.pressthis:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.close {
  display: inline-flex;
  justify-content: flex-end;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.hide {
  display: none;
}

.board {
  position: relative;
  margin-left: 1%;
  margin-top: 70px;
}
.board-column {
  position: absolute;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 1.5%;
  background: #f0f0f0;
  border-radius: 3px;
  z-index: 1;
}
.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}
.board-column.todo .board-column-header {
  background: #4a9ff9;
}
.board-column.working .board-column-header {
  background: #f9944a;
}
.board-column.done .board-column-header {
  background: #2ac06d;
}
/* This is the secret sauce,
     always use a wrapper for setting
     the "overflow: scroll/auto" */
.board-column-content-wrapper {
  position: relative;
  max-height: 300px;
  overflow-y: auto;
}
/* Never ever set "overflow: auto/scroll"
     to the muuri element, stuff will break */
.board-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
  background-color: lightgray;
}
.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}
.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}
